@using System.Threading.Tasks
@model KurumsalWebCoreMVC.UI.Models.LoginViewModel
@{
    ViewData["Title"]= "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/modules/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet" />
</head>


<body class="bg-dark">
    <div class="card card-login mx-auto mt-5 col-md-6">
        <div class="card-header">Giriş Yap</div>
        <div class="card-body">
            <form asp-action="Login" asp-controller="Account" method="post" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input id="inputEmail" asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı" required="required" autofocus="autofocus">
                        <label for="inputEmail" asp-for="UserName">Kullanıcı Adı</label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input id="inputPassword" asp-for="Password" class="form-control" placeholder="Şifre" required="required">
                        <label for="inputPassword" asp-for="Password">Şifre</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="RememberMe">
                            Beni Hatırla
                        </label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Giriş Yap">
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" asp-controller="Account" asp-action="Register">Hesap Oluşturun</a>
            </div>
        </div>
    </div>

    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/jquery-easing/jquery.easing.min.js"></script>
    <script src="/modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</body>
</html>
