@model KurumsalWebCoreMVC.UI.Models.ShippingDetailsViewModel
@{
    ViewData["Title"] = "Complete";
}

<h2>Shipping Details</h2>
<form asp-controller="Cart" asp-action="Complete" method="post">
    <div class="form-group">
        <label asp-for="ShippingDetails.Ad"></label>
        <input asp-for="ShippingDetails.Ad" class="form-control" placeholder="Ad">
        <span asp-validation-for="ShippingDetails.Ad"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetails.Soyad"></label>
        <input asp-for="ShippingDetails.Soyad" class="form-control" placeholder="Soyad">
        <span asp-validation-for="ShippingDetails.Soyad"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetails.Adres"></label>
        <input asp-for="ShippingDetails.Adres" class="form-control" placeholder="Adres">
        <span asp-validation-for="ShippingDetails.Adres"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetails.Şehir"></label>
        <input asp-for="ShippingDetails.Şehir" class="form-control" placeholder="Şehir">
        <span asp-validation-for="ShippingDetails.Şehir"></span>
    </div>

    <div class="form-group">
        <label asp-for="ShippingDetails.Email"></label>
        <input asp-for="ShippingDetails.Email" class="form-control" placeholder="Email">
        <span asp-validation-for="ShippingDetails.Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="ShippingDetails.Yaş"></label>
        <input asp-for="ShippingDetails.Yaş" class="form-control" placeholder="Yaş">
        <span asp-validation-for="ShippingDetails.Yaş"></span>
    </div>
    <input type="submit" value="Alışverişi Tamamla" class="btn btn-success" />
</form>


