@using System.Threading.Tasks
@model KurumsalWebCoreMVC.UI.Models.UserDetailsViewModel
@{
    ViewData["Title"] = "Default";
}

<ul class="dropdown-menu">
    @if (!String.IsNullOrEmpty(Model.UserName))
    {
        <li class="dropdown-item">
            <a>Hoşgeldiniz @Model.UserName</a>
        </li>
    }
    <li class="dropdown-divider"></li>
    <li class="dropdown-item">
        <a asp-controller="Account" asp-action="LogOff">Çıkış Yap</a>
    </li>
</ul>

