@model KurumsalWebCoreMVC.UI.Models.CartSummaryViewModel
@{
    ViewData["Title"] = "Default";
}

    <ul class="dropdown-menu">
        @foreach (var item in Model.Cart.CartLines)
        {
            <li class="dropdown-item">
                <a>@item.Product.ProductName <span class="badge badge-secondary">@item.Quantity</span></a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li class="dropdown-item">
            <a><span class="fas fa-align-left fas fa-shopping-cart" aria-hidden="true"></span>@Model.Cart.Total</a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item">
            <a asp-controller="Cart" asp-action="List">Sepet Detayına Git</a>
        </li>
    </ul>

